<!DOCTYPE html>
<html>

<head>
  <script src="js/p5.js"></script>
  <script src="js/p5.dom.min.js"></script>
  <script src="js/p5.sound.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

  <script src="multi_sketch.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
</head>

<body>
  <div id="one"></div>
  <div id="two"></div>
</body>

</html>